body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #092256, #1C4D6B);
}

.navbar {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sudoku-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
    gap: 2px;
    border: 2px solid #333;
    background-color: #ffffff;
    border-radius: 10px;
}

.sudoku-cell{
    width: 60px;
    height: 60px;
    background-color: #ffff;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

.sudoku-cell:nth-child(3n){
    border-right: 2px solid #333;

}

.sudoku-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-cell:nth-child(n+46):nth-child(-n+54){ 
border-bottom: 2px solid #333;
}

/* Sudoku Options Button Styling */
.sudoku-options .options button {
    border: none;
    font-size: 1.25rem;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sudoku-options .options button:hover {
    background: #5a9;
    color: white;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .sudoku-grid {
        grid-template-columns: repeat(9, 40px);
        grid-template-rows: repeat(9, 40px);
    }

    .sudoku-cell {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup.show {
    display: block;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-message {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
}